<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-start">
      <span class="navbar-text ps-3 navbar-title">ForceHammer</span>
    </div>
</nav>
<div class="container-fluid text-center py-4">
    <div class="d-grid gap-2">
        <button class="btn btn-primary py-3 btn-force bg-dark" type="button" routerLink="/forces">Force</button>
        <button class="btn btn-primary py-3 btn-force bg-dark" type="button">List</button>
      </div>
</div>

