:root {
    --bg-color-white: #fff;
    --bg-color-01: #1b1b1b;
    --border-color: #1c0a09;
    --icon-color: #909090;
    --bg-color-02: #4e6c77;
    --bg-color-03: #e1e5e6;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: var(--bg-color-01);
    color: var(--bg-color-white);
}
.navbar-title{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--bg-color-white) !important;
}
li.list-group-item{
    min-height: 60px;
}
li.list-group-item{
    border-radius: 0rem !important;
    border-bottom: 1px solid var(--border-color);
}
.list-group-item-dark {
    color: var(--bg-color-white);
    background-color: var(--bg-color-01);
}
.icon-grey{
    color: var(--icon-color);
    font-size: 1.2rem;
}
.img-list{
    clip-path: polygon(100% 0, 0 0, 10% 25%, 10% 75%, 0 100%, 100% 100%);
    height: 100%;
    position: absolute;
    right: 0;
}
p{
    font-size: .9rem;
}
input[type="text"]::placeholder.navbar-find{
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    text-transform: capitalize;
}
input[type="text"].navbar-find{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    transition: all 0.3s;
    width: 0;
    padding: 0;
}
input[type="text"].navbar-find.show{
    width: 200px;
    padding: 0 20px;
}